/* Jangan sembunyikan scrollbar global */
html,
body {
    overflow: hidden; /* Pastikan body memiliki scrollbar jika diperlukan */
}

/* Custom scrollbar hanya untuk .scrool-content */
.scrool-content {
    overflow-y: scroll; /* Aktifkan scroll vertikal */
    max-height: 700px; /* Tentukan tinggi maksimal agar konten meluap */
}

/* Kustomisasi scrollbar pada .scrool-content */
.scrool-content::-webkit-scrollbar {
    width: 8px;
}

.scrool-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}

.scrool-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;    
    
}

.scrool-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Sembunyikan scrollbar pada layar dengan lebar 992px atau lebih kecil */
@media screen and (max-width: 992px) {
    .scrool-content {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
    
    .scrool-content::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}
